# Jupyter
.ipynb_checkpoints/
*-checkpoint.ipynb

# Entornos de Python
.venv/
venv/
env/
ENV/
__pycache__/
*.py[cod]

# Editores
.vscode/
.idea/
*.swp

# Sistema operativo
.DS_Store
Thumbs.db
desktop.ini

# Salidas locales
*.log
